#!/usr/bin/make -f
# -*- makefile -*-

export QT_SELECT=5

export LD_LIBRARY_PATH=/usr/lib/

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- 

override_dh_install:
	dh_install

override_dh_clean:
	dh_clean
